* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
:root {
  --background-image-url: url("../../assets/pattern.jpeg");
}
.Bg-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  /* background-image: var(--background-image-url);
  background-repeat: no-repeat;
  background-size:cover;
  backdrop-filter: grayscale(10%); */
  position: relative;
  top: 0;
  z-index: 990000;
  background-color: #f4f2f0;
}
.my-swiper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.SwipeDiv {
  width: 576px;
  height: auto;
  transition: all 0.3s linear;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.HeroShoe {
  width: 100%;
  height: 100%;
  scale: 0.9;
  object-fit: contain;
  z-index: 3;
  rotate: -13deg;
  image-rendering: smooth;
  position: relative;
  top: 30%;
}

.PlatformImg {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  pointer-events: none;
  object-fit: contain;
  position: relative;
  top: -20%;
}

.Btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  z-index: 10;
  border: 1px solid red;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.Btn:hover {
  color: white;
}
.Next {
  top: 50%;
  right: 25%;
}
.Prev {
  top: 50%;
  left: 25%;
}
.BgText {
  font-family: tektur;
  line-height: 85%;
  font-weight: 700;
  position: absolute;
  top: 0%;
  font-size: 8vw;
  text-align: center;
  color: #e13251;
  padding: 7rem;
}
.heroBlur {
  height: 300px;
  width: 300px;
  filter: blur(100px);
  background-color: #e13251;
  position: absolute;
  transition: scale ease-in-out .2s;
}
.NikeLogoBg {
  scale: 7;
  position: relative;
  z-index: -1;
  margin-top: 20%;
  filter: blur(0px);
}
.lengthdiv1 {
  width: 0%;
  height: 0%;
  position: absolute;
  background-color: #e13251;
  left: -5%;
  transition: all 0.1s linear;
  border-radius: 50px;
}
.lengthdiv2 {
  width: 0%;
  height: 0%;
  position: absolute;
  background-color: #e13251;
  right: -5%;
  transition: all 0.1s linear;
  border-radius: 50px;
}
.SlideNavArrow {
  z-index: 20;
}
.flashLightEffectDiv {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: yellow;
}

@media (max-width: 768px) {
  .Btn {
    top: 85%;
    scale: 0.9;
  }
}
