.product{
    flex-shrink: 0;
    width: 200px;
    height: 240px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.3s linear;
    display:flex;
    flex-direction: column;
    gap:5px;
    align-items:center;
    justify-content:flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    user-select: none;
}
.BgShoeProductImg{
    width: 100%;
    height: 100%;
}
.ProductHeading{
    font-size: 2rem;
    color:white;
}
.SeeMore{
    color:white;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: blue;
    border-radius: 15px;
}