.movingCardsContainer {
  height: 800px;
  /* background-color: lightblue; */
  overflow: hidden;

  display: flex;
  margin-top: 60px;
}
.movingCardsContainer .cardsContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 2rem;
  height: 100%;
  position: relative;
  animation: 20s slide infinite linear;
}
.card {
  /* border: 1px solid; */
  border-radius: 30px;
  overflow: hidden;
}
.card1 {
  height: 500px;
  width: 600px;
  position: relative;
  top: 10%;
}
.card2 {
  height: 600px;
  width: 500px;
  position: relative;
  top: 15%;
}
.card3 {
  height: 600px;
  width: 500px;
  position: relative;
  top: 5%;
}
.card4 {
  height: 450px;
  width: 700px;
  position: relative;
  top: 29%;
}
.card5 {
  height: 400px;
  width: 600px;
}
.card6 {
  height: 300px;
  width: 450px;
}
.card7 {
  height: 700px;
  width: 850px;
}

.cardsContainer .card56Container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.cardsContainer img {
  width: 100%;
  object-fit: cover;
}
.cardsContainer .card2 img {
  height: 100%;
  width: auto;
  position: relative;
  left: -20%;
}
.cardsContainer video {
  height: 100%;
  scale: 1.09;
  position: relative;
  top: 25px;
}
.cardsContainer .card5 img {
  position: relative;
  top: -20%;
}
.cardsContainer .card7 img {
  position: relative;
  top: -26%;
}
.cardsContainer .card4 img{
  position: relative;
  top: -45%;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
